.loader {
    border: 5px solid #f3f3f3; /* Couleur de fond */
    border-top: 5px solid #3498db; /* Couleur du cercle en mouvement */
    border-radius: 50%; /* Forme circulaire */
    width: 50px; /* Largeur du cercle */
    height: 50px; /* Hauteur du cercle */
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  